/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  margin:0;
  padding:0;
}

* {
  font-family: 'Nunito lt', sans-serif;
  font-weight: 100;
}

header * {
  border: solid transparent 1px;
}

.no-bullets {
  list-style: none;
}

.no-underline {
  text-decoration: none;
}

.padding-right-15 {
  padding-right: 15px;
}

.float-left {
  float: left;
}

.h-68 {
  background: linear-gradient(to bottom right, gray, #2F2E2E);
  height: 68px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 50;
  padding-top: 3px;
}

.header-pic {
  height: 52px;
  width: 48px;
  padding-top: 7px;
  margin-left: 9px;
}

.header {
  background-color: #2F2E2E;
  width: 100%;
}

.nav-links {
  font-size: .6em;
  color: white;
  transition: color 0.5s ease;
}

.nav-links:hover {
  color: #606060;
}

.red-bubble-for-do {
  height: 25px;
  width: 35px;
  border-radius: 20px;
  background-color: #D32300;
  padding-left: 20px;
}

.red-bubble-for-0 {
  height: 22px;
  width: 22px;
  border-radius: 20px;
  background-color: #D32300;
  margin-top: 2px;
}

nav li {
  float: right;
}

.nav-zero {
  padding-left: 7px;
}

.how-it-works-div {
  height: 576px;
  background-color: #2F2E2E;
  margin-top: 200px;
  text-align: center;
  padding-top: 40px;
  position: inline-block;
}

.how-it-works-text {
  color: white;
}

.how-it-works-video {
  height: 364px;
  width: 566px;
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
}

.how-it-works-info-box {
  text-align: left;
  height: 338px;
  width: 378px;
  display: inline-block;
  background-color: #ACABAE;
  margin-left: 15px;
  padding: 15px;
}

.white {
  color: white;
}

.align-top {
  vertical-align: top;
}

.redish {
  color: #D32300;
}

.fa {
  display: inline-block;
}

.info-box-text {
  display: inline-block;
  width: 80%;
  padding-left: 10px;
}
