<header class='header'>
  <div class='h-68'>
    <div class='float-left'>
      <a href="/"><img class='header-pic' src="/logo_small.png" alt='DoWhop logo'></a>
    </div>
    <nav>
      <ul>
        <li class="no-bullets no-underline padding-right-15"><div class='red-bubble-for-0'><a class='nav-links no-underline nav-zero' href="#">0</a></div></li>
        <li class="no-bullets no-underline"><div class='red-bubble-for-do'><a class='nav-links no-underline do-link' href="#">DO</a></div></li>
        <li class="no-bullets no-underline padding-right-15"><a class='nav-links no-underline' href="#">FAQ</a></li>
        <li class="no-bullets no-underline padding-right-15"><a class='nav-links no-underline' href="#">CAREERS</a></li>
        <li class="no-bullets no-underline padding-right-15"><a class='nav-links no-underline' href="#">CONNECT</a></li>
        <li class="no-bullets no-underline padding-right-15"><a class='nav-links no-underline' href="#">CREATE</a></li>
        <li class="no-bullets no-underline padding-right-15"><a class='nav-links no-underline' href="#">EXPLORE</a></li>
        <% if user_signed_in? %>
          <li class="no-bullets no-underline padding-right-15"><%= link_to "LOG OUT", destroy_user_session_path, :method => :delete, class: 'nav-links no-underline' %></li>
          # <!-- <li class="no-bullets no-underline padding-right-15">hello, </li> -->
        <% else %>
          <li class="no-bullets no-underline padding-right-15"><%= link_to 'LOG IN', new_user_session_path, class: 'nav-links no-underline' %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<div class='how-it-works-div'>
  <h1><span class='how-it-works-text'>HOW IT WORKS</span></h1>
  <iframe class='how-it-works-video' src="https://youtu.be/wL6k43HZNpw"></iframe>
  <div class='how-it-works-info-box'>
    <p><span class='white align-top'>Our marketplace is made possible<br>by wonderful people like you who<br>do incredible things together.</span></p>
    <p>On this site you can:</p>
    <i class="fa fa-map-marker fa-3x"></i><p class='info-box-text'><span class='redish'>EXPLORE</span> local experiences and connect with your community</p><br>
    <i class="fa fa-heart fa-2x"></i><p class='info-box-text'><span class='redish'>CREATE</span> opportunities for others to join you in what you love</p><br>
    <i class="fa fa-arrow-circle-right fa-2x"></i><p class='info-box-text'><span class='redish'>DO</span> the experiences that someone around you created</p><br>
  </div>
</div>
