<style>
.mySlides { display: none; }
.small-slide { opacity: 0.75; }
.scroll-container-outer { overflow: scroll; overflow-y: hidden;}
.scroll-container-inner { width: 10000px; }
</style>

<div style="max-width:100%;height:568px">
  <div id="transparent-box" style="position:absolute;left:15%;top:13%;width:423px;height:477px;background:rgba(255,255,255, 0.6);">
    <img src="/logo_large.gif" style="width:410px;height:135px;opacity:1;position:relative;left:2%;">
    <span style="font-family:avenir-lt-w01_35-light1475496,sans-serif;font-size:23px;left:15%;top:25px;position:relative;">The Marketplace for Doing</span>
    <div style='text-align: center'>
      <span style="font-family:avenir-lt-w01_35-light1475496,sans-serif;font-size:16px;left:0%;top:55px;position:relative;">Buy & Sell what you love to do!<br>Every listing is an opportunity to connect with <br> someone and DoWhop you love to do.</span><br>
    </div>
    <div style='text-align:center;width:40%;padding-left:24px;padding-top:10px'>
      <span style="font-family:avenir-lt-w01_35-light1475496,sans-serif;font-size:16px;top:85px;position:relative;"><span style='text-decoration:underline'>Buy</span> <br> an in-person <br> experience</span><br>
    </div>
    <span style="font-family:avenir-lt-w01_35-light1475496,sans-serif;font-size:38px;left:46%;top:35px;position:relative;">&</span><br>
    <div style='text-align:center;width:40%;padding-left:224px;'>
      <span style="font-family:avenir-lt-w01_35-light1475496,sans-serif;font-size:16px;position:relative;;top:-14px"><span style='text-decoration:underline'>Sell</span> <br> what you love <br> to do</span>
    </div>
    <button style="color:white;background-color:#D32300;padding:7px 20px 7px 20px;border-radius:20px;font-size:10px;position:relative;left:40%;top:45px;">Explore</button>
    <input type="text" size='60' style="position:absolute;right:-450px;top:0px;font-size:14px;border-radius:3px;" placeholder='Whop do you want to do?    (Fly, Dance, Cook, Build, Learn & Do)' name="search_box">
  </div>
  <img class="mySlides" src="/homepage slidey/1sail.jpg" style="width:100%;height:508px;display:block;object-fit:cover;">
  <img class="mySlides" src="/homepage slidey/2spearfish.jpg" style="width:100%;height:508px;object-fit:cover;">
  <img class="mySlides" src="/homepage slidey/3fly.jpg" style="width:100%;height:508px;object-fit:cover;">
  <img class="mySlides" src="/homepage slidey/4pool.jpg" style="width:100%;height:508px;object-fit:cover;">
  <img class="mySlides" src="/homepage slidey/5breakdance.jpg" style="width:100%;height:508px;object-fit:cover;">
  <img class="mySlides" src="/homepage slidey/6surf.jpg" style="width:100%;height:508px;object-fit:cover;">
  <img class="mySlides" src="/homepage slidey/7blowup.jpg" style="width:100%;height:508px;object-fit:cover;">
  <img class="mySlides" src="/homepage slidey/8restore.jpg" style="width:100%;height:508px;object-fit:cover;">
  <img class="mySlides" src="/homepage slidey/9dj.jpg" style="width:100%;height:508px;object-fit:cover;">
  <img class="mySlides" src="/homepage slidey/10style.jpg" style="width:100%;height:508px;object-fit:cover;">
  <img class="mySlides" src="/homepage slidey/11pottery.jpg" style="width:100%;height:508px;object-fit:cover;">
  <img class="mySlides" src="/homepage slidey/12scuba.jpg" style="width:100%;height:508px;object-fit:cover;">
  <img class="mySlides" src="/homepage slidey/13laundry.jpg" style="width:100%;height:508px;object-fit:cover;">
  <img class="mySlides" src="/homepage slidey/14hike.jpg" style="width:100%;height:508px;object-fit:cover;">
  <img class="mySlides" src="/homepage slidey/15helicopter.jpg" style="width:100%;height:508px;object-fit:cover;">
  <img class="mySlides" src="/homepage slidey/16skateboard.jpg" style="width:100%;height:508px;object-fit:cover;">
  <img class="mySlides" src="/homepage slidey/17cabinetry.jpg" style="width:100%;height:508px;object-fit:cover;">
  <img class="mySlides" src="/homepage slidey/18bike.jpg" style="width:100%;height:508px;object-fit:cover;">
  <img class="mySlides" src="/homepage slidey/19ski.jpg" style="width:100%;height:508px;object-fit:cover;">
  <img class="mySlides" src="/homepage slidey/20sail.jpg" style="width:100%;height:508px;object-fit:cover;">
  <img class="mySlides" src="/homepage slidey/21paint.jpg" style="width:100%;height:508px;object-fit:cover;">
  <img class="mySlides" src="/homepage slidey/22volleyball.jpg" style="width:100%;height:508px;object-fit:cover;">
  <img class="mySlides" src="/homepage slidey/23canoe.jpg" style="width:100%;height:508px;object-fit:cover;">
  <img class="mySlides" src="/homepage slidey/24mathematics.jpg" style="width:100%;height:508px;object-fit:cover;">
  <img class="mySlides" src="/homepage slidey/25blueprints.jpg" style="width:100%;height:508px;object-fit:cover;">
  <img class="mySlides" src="/homepage slidey/26guitar.jpg" style="width:100%;height:508px;object-fit:cover;">

  <div class="scroll-container-outer">
    <div class="scroll-container-inner">
      <div>
        <img class="small-slide" src="/homepage slidey/1sail.jpg" style="float:left;height:52px;margin:10px 10px 0px 0px;opacity:1;" onclick="currentDiv(1)">
      </div>
      <div>
        <img class="small-slide" src="/homepage slidey/2spearfish.jpg" style="float:left;height:52px;margin:10px 10px 0px 0px;" onclick="currentDiv(2)">
      </div>
      <div>
        <img class="small-slide" src="/homepage slidey/3fly.jpg" style="float:left;height:52px;margin:10px 10px 0px 0px;" onclick="currentDiv(3)">
      </div>
      <div>
        <img class="small-slide" src="/homepage slidey/4pool.jpg" style="float:left;height:52px;margin:10px 10px 0px 0px;" onclick="currentDiv(4)">
      </div>
      <div>
        <img class="small-slide" src="/homepage slidey/5breakdance.jpg" style="float:left;height:52px;margin:10px 10px 0px 0px;" onclick="currentDiv(5)">
      </div>
      <div>
        <img class="small-slide" src="/homepage slidey/6surf.jpg" style="float:left;height:52px;margin:10px 10px 0px 0px;" onclick="currentDiv(6)">
      </div>
      <div>
        <img class="small-slide" src="/homepage slidey/7blowup.jpg" style="float:left;height:52px;margin:10px 10px 0px 0px;" onclick="currentDiv(7)">
      </div>
      <div>
        <img class="small-slide" src="/homepage slidey/8restore.jpg" style="float:left;height:52px;margin:10px 10px 0px 0px;" onclick="currentDiv(8)">
      </div>
      <div>
        <img class="small-slide" src="/homepage slidey/9dj.jpg" style="float:left;height:52px;margin:10px 10px 0px 0px;" onclick="currentDiv(9)">
      </div>
      <div>
        <img class="small-slide" src="/homepage slidey/10style.jpg" style="float:left;height:52px;margin:10px 10px 0px 0px;" onclick="currentDiv(10)">
      </div>
      <div>
        <img class="small-slide" src="/homepage slidey/11pottery.jpg" style="float:left;height:52px;margin:10px 10px 0px 0px;" onclick="currentDiv(11)">
      </div>
      <div>
        <img class="small-slide" src="/homepage slidey/12scuba.jpg" style="float:left;height:52px;margin:10px 10px 0px 0px;" onclick="currentDiv(12)">
      </div>
      <div>
        <img class="small-slide" src="/homepage slidey/13laundry.jpg" style="float:left;height:52px;margin:10px 10px 0px 0px;" onclick="currentDiv(13)">
      </div>
      <div>
        <img class="small-slide" src="/homepage slidey/14hike.jpg" style="float:left;height:52px;margin:10px 10px 0px 0px;" onclick="currentDiv(14)">
      </div>
      <div>
        <img class="small-slide" src="/homepage slidey/15helicopter.jpg" style="float:left;height:52px;margin:10px 10px 0px 0px;" onclick="currentDiv(15)">
      </div>
      <div>
        <img class="small-slide" src="/homepage slidey/16skateboard.jpg" style="float:left;height:52px;margin:10px 10px 0px 0px;" onclick="currentDiv(16)">
      </div>
      <div>
        <img class="small-slide" src="/homepage slidey/17cabinetry.jpg" style="float:left;height:52px;margin:10px 10px 0px 0px;" onclick="currentDiv(17)">
      </div>
      <div>
        <img class="small-slide" src="/homepage slidey/18bike.jpg" style="float:left;height:52px;margin:10px 10px 0px 0px;" onclick="currentDiv(18)">
      </div>
      <div>
        <img class="small-slide" src="/homepage slidey/19ski.jpg" style="float:left;height:52px;margin:10px 10px 0px 0px;" onclick="currentDiv(19)">
      </div>
      <div>
        <img class="small-slide" src="/homepage slidey/20sail.jpg" style="float:left;height:52px;margin:10px 10px 0px 0px;" onclick="currentDiv(20)">
      </div>
      <div>
        <img class="small-slide" src="/homepage slidey/21paint.jpg" style="float:left;height:52px;margin:10px 10px 0px 0px;" onclick="currentDiv(21)">
      </div>
      <div>
        <img class="small-slide" src="/homepage slidey/22volleyball.jpg" style="float:left;height:52px;margin:10px 10px 0px 0px;" onclick="currentDiv(22)">
      </div>
      <div>
        <img class="small-slide" src="/homepage slidey/23canoe.jpg" style="float:left;height:52px;margin:10px 10px 0px 0px;" onclick="currentDiv(23)">
      </div>
      <div>
        <img class="small-slide" src="/homepage slidey/24mathematics.jpg" style="float:left;height:52px;margin:10px 10px 0px 0px;" onclick="currentDiv(24)">
      </div>
      <div>
        <img class="small-slide" src="/homepage slidey/25blueprints.jpg" style="float:left;height:52px;margin:10px 10px 0px 0px;" onclick="currentDiv(25)">
      </div>
      <div>
        <img class="small-slide" src="/homepage slidey/26guitar.jpg" style="float:left;height:52px;margin:10px 10px 0px 0px;" onclick="currentDiv(26)">
      </div>
    </div>
  </div>
</div>

<div class='how-it-works-div'>
  <h1><span class='how-it-works-text'>HOW IT WORKS</span></h1>
  <iframe class='how-it-works-video' src="https://www.youtube.com/embed/wL6k43HZNpw"></iframe>
  <div class='how-it-works-info-box'>
    <p><span class='white align-top'>Our marketplace is made possible<br>by wonderful people like you who<br>do incredible things together.</span></p>
    <p>On this site you can:</p>
    <i class="fa fa-map-marker fa-3x"></i><p class='info-box-text'><span class='redish'>EXPLORE</span> local experiences and connect with your community</p><br>
    <i class="fa fa-heart fa-2x"></i><p class='info-box-text'><span class='redish'>CREATE</span> opportunities for others to join you in what you love</p><br>
    <i class="fa fa-arrow-circle-right fa-2x"></i><p class='info-box-text'><span class='redish'>DO</span> the experiences that someone around you created</p><br>
  </div>
</div>

<div class='company-values' style="position:relative;text-align:center;color:#606060;">
  <style> .values>img { height:61px; width:61px; }</style><br><br><br>
  <h1>COMPANY VALUES</h1>

  <div class="row1" style="display:inline-block;">
    <div class="values" style="width:200px;float:left;padding:30px 60px 0px 60px;">
      <img src="/company values/diverse.png"><br><br>
      DIVERSE
      <p>The experiences being sold are as unique and eclectic as you are.</p>
      </div>
    <div class="values" style="width:200px;float:left;padding:30px 60px 0px 60px;">
      <img src="/company values/personal.png"><br><br>
      PERSONAL
      <p>Every experience is customized based on the people interacting. </p>
    </div>
    <div class="values" style="width:200px;float:left;padding:30px 60px 0px 60px;">
      <img src="/company values/actionable.png"><br><br>
      ACTIONABLE
      <p>Shared experience is at the heart of every interaction. This is the living social network.</p>
    </div>
  </div><br><br>
  <div class="row2" style="display:inline-block;">
    <div class="values" style="width:200px;float:left;padding:30px 60px 0px 60px;">
      <img src="/company values/social.png"><br><br>
      SOCIAL
      <p>Connect with people who share your passions, interests, hobbies, and goals.</p>
    </div>
    <div class="values" style="width:200px;float:left;padding:30px 60px 0px 60px;">
      <img src="/company values/monetized.png"><br><br>
      MONETIZED
      <p>Do what you love to do, and make money doing it! You're the boss.</p>
    </div>
    <div class="values" style="width:200px;float:left;padding:30px 60px 0px 60px;">
      <img src="/company values/trusted.png"><br><br>
      TRUSTED
      <p>Our community thrives because verified members endorse trustworthy doers.</p>
    </div>
  </div>
</div>
